article{
    column-count: 3;
    column-gap: 30px;
    column-rule: 2px dotted #d4c1f3;
}
/*Navigation Bar*/
#nav_menu {
    width: 100%;
    padding-bottom: 2em;
    margin: auto;
}
#nav_menu ul { 
    list-style-type: none;
    padding: 0%;
}
#nav_menu ul li { 
    float: left;
    width: 33.33%
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em;
    background-color: #6767d2;
    color: #ffffff;
    font-weight: bold;
    border-right: 2px solid #ffffff;
}
#nav_menu ul li a.lastitem {
    border-right: none;
}
body {
    width: 80%;
    margin: auto;
}
a:hover{
    font-size: larger;
}
@media only screen and (max-width: 380px) {
    article {
        column-count: auto;
    }
}
@media only screen and (max-width: 565px) {
    #nav_menu ul li { 
        float: none;
        width: 100%;
    }
}