#nav_menu {
    width: 100%;
    padding-bottom: 2em;
    margin: auto;
}

#nav_menu ul {
    list-style-type: none;
    padding: 0%;
}

#nav_menu ul li {
    float: left;
    width: 25%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em;
    background-color: #6767d2;
    color: #ffffff;
    font-weight: bold;
    border-right: 2px solid #ffffff;
}
header {
    margin-top: 7%;
}
#nav_menu ul li a.lastitem {
    border-right: none;
}

#nav_menu ul li a:hover {
    background-color: #1d1d71;
}

body {
    width: 80%;
    padding: 2em;
    margin: auto;
    color: #000000;
    background-color: #d1e2f7;
}
div#navbar {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 750px) {
    div#navbar {
        flex-direction: column;
    }
    #nav_menu ul li {
        float: none;
        width: 100%;
    }

    #nav_menu ul li a {
        border-right: none;
        border-bottom: 2px solid #ffffff;
    }

    #nav_menu ul li a.lastitem {
        border-bottom: none;
    }
}